.toggle{
    width: 100px;
    height: 50px;
    max-width: 120px;
    background-color: #ccc;
    padding: 5px;
    border-radius: 50rem;
    margin-left: 25px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.spinner{
    width: 50px;
    height: 50px;
    /* margin-left: 20px; */
    background-color: white;
    border-radius: 50rem;
    transition: all 0.2s linear;
}

.toggle.active{
    background-color: aqua;
}

.spinner.active{
    transform: translateX(50px);
}

.toggle-controller{
    display: flex;
    padding: 5px;
    align-items: center;
    margin: 0 25px;
    gap: 0 10px;
}

.toggle-controller > *{
    cursor: pointer;

}



