/*----------------css-------------------*/

.yt-list{
    display: flex;
} 

.yt-item{
    padding: 5px;
    object-fit: cover;
}
.yt-footer{
    padding: 5px;
    display: flex;
}

.yt-info{
    width: 300px;
    height: auto;
    /* padding-left: 5px; */
}

.yt-title, .yt-author{
    padding-left: 5px;
}

.cls-img{
    max-height: 250px;
    max-width: 400px;
    border-radius: 5%;
    /* display: inline; */
}

.yt-avatar{
    max-height: 80px;
    max-width: 80px;
    border-radius: 50%;
    object-fit: cover;
}

