.game-board{
    margin: 20px;
    width: 500px;
    height: 500px;
    border: #ccc solid 3px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* grid-gap: 25px; */
}

.game-cell{
    border: #ccc solid 1px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 120px;
    box-shadow: rgb(149, 157, 165, 0.2) 0px 8px 24px;
}